.loading {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: rgba(0,0,0,.10);
  position: absolute;
  z-index: 1000;
}

img {
  display: flex;
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  top: 15%;
  left: 48%;
}
